@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'JetBrains Mono', sans-serif;
}
header {
  padding-top: 4.5rem;
}
.main {
  background: rgb(56, 61, 80);
  background: linear-gradient(
    61deg,
    rgba(56, 61, 80, 1) 27%,
    rgba(45, 93, 77, 1) 100%
  );
}
.container {
  max-width: 107rem;
  margin: auto;
  color: #fff;
}
.bannerArea {
  display: flex;
}
.bannerArea .leftside {
  flex: 1;
}
.bannerArea .leftside h1 {
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 4.5rem;
  margin: 8rem 0 4rem 0;
}
.bannerArea .leftside .subtitle {
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #999;
  margin-bottom: 2rem;
}
.bannerArea .leftside .form {
  margin-bottom: 2rem;
}

.bannerArea .leftside .form input {
  width: 30rem;
  padding: 0 1rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  background: transparent;
  height: 4rem;
  outline: none;
  color: #fff;
  font-size: 1.4rem;
}
.bannerArea .leftside .form button {
  height: 4rem;
  border: 0;
  background-color: #0071b7;
  color: #fff;
  font-size: 1.4rem;
  margin-left: 1rem;
  padding: 0 2rem;
  cursor: pointer;
}
.bannerArea .leftside .form button:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.bannerArea .leftside .iconsTechs {
  margin-bottom: 8rem;
}
.bannerArea .leftside .iconsTechs img {
  margin-right: 1rem;
}
.bannerArea .rightside {
  flex: 1;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: bottom;
}

/* Section info */
.info {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.2rem solid #eaeef1;
}
.info-text {
  font-size: 2rem;
  font-weight: bold;
  color: #c2c8cb;
  margin: 0 1rem;
}
.info-circle {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #c2c8cb;
  border-radius: 50%;
  margin: 0 1rem;
}
/* Section info */
.inst-container {
  margin: auto;
  max-width: 90rem;
  padding: 7rem 0;
}
.inst-item {
  border-left: 0.3rem solid #ecf0f3;
  display: flex;
}
.inst-item:last-child {
  border: 0;
}
.inst-circle {
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  background-color: #0071b7;
  margin-left: -0.9rem;
}
.inst-text {
  flex: 1;
  margin-left: 5rem;
}
.inst-text h2 {
  font-size: 2rem;
  color: #000000;
  margin: -1rem 0 2rem 0;
}
.inst-text p {
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #777;
  margin-bottom: 7rem;
}

/* Section CTA */
.cta {
  background-color: #1d2437;
  border-bottom: 0.2rem solid #333;
}
.cta-container {
  display: flex;
  margin: auto;
  max-width: 80rem;
  padding: 10rem 0;
  color: #fff;
}
.cta-left {
  flex: 1;
  margin-left: 4rem;
}
.cta-right {
  flex: 1;
  margin-right: 3rem;
}
.cta-left h2 {
  font-size: 3rem;
  margin-bottom: 1.1rem;
}
.cta-left p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #777;
}
.cta-right input {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  background: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  font-size: 1.4rem;
  outline: none;
  color: #fff;
}
.cta-right button {
  width: 100%;
  height: 4rem;
  border: 0;
  background-color: #0071b7;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 2rem;
  cursor: pointer;
}
.cta-right button:hover {
  opacity: 0.7;
  transition: 0.2s;
}

/* Footer */
footer {
  background-color: #1d2437;
  color: #fff;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 4rem 0;
  max-width: 107rem;
}
.footer-right {
  font-size: 1.6rem;
  color: #777;
  text-align: right;
  line-height: 2.5rem;
}
.footer-right a {
  color: #777;
  text-decoration: none;
}
.footer-right a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 103rem) {
  .main .container {
    padding: 0 2rem;
  }
  footer .footer-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 90rem) {
  .bannerArea {
    flex-direction: column-reverse;
  }
  .bannerArea .rightside {
    height: 30rem;
    flex: none;
    background-size: auto 100%;
    background-position-x: center;
  }
  .bannerArea .rightside .rightside-linear {
    width: 100%;
    height: 100%;
    /*background: linear-gradient(360deg, #1D2437 8.92%, rgba(29, 36, 55, 0) 65.85%);*/
  }
  .bannerArea .leftside h1 {
    margin-top: 0;
    text-align: center;
  }
  .bannerArea .leftside subtitle {
    text-align: center;
  }
  .bannerArea .leftside .form input {
    width: 100%;
    margin-bottom: 2rem;
  }
  .bannerArea .leftside .form button {
    width: 100%;
  }
  .bannerArea .leftside .iconsTechs {
    text-align: center;
  }
  .info {
    display: none;
  }
  .instructions .inst-item {
    margin: 0 5rem;
  }
  .cta .cta-container {
    flex-direction: column;
    margin: 0 3rem;
  }
  .cta .cta-left {
    text-align: center;
    margin-bottom: 3rem;
  }
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-left {
    margin-bottom: 3rem;
  }
  footer .footer-right {
    text-align: center;
  }
}
