@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'JetBrains Mono', sans-serif;
}
header {
  padding-top: 45px;
}
.main {
  background: rgb(56, 61, 80);
  background: linear-gradient(
    61deg,
    rgba(56, 61, 80, 1) 27%,
    rgba(45, 93, 77, 1) 100%
  );
}
.container {
  max-width: 1070px;
  margin: auto;
  color: #fff;
}
.bannerArea {
  display: flex;
}
.bannerArea .leftside {
  flex: 1;
}
.bannerArea .leftside h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 50px;
  margin: 80px 0 20px 0;
}
.bannerArea .leftside .subtitle {
  font-size: 16px;
  line-height: 23px;
  color: #999;
  margin-bottom: 20px;
}
.bannerArea .leftside .form {
  margin-bottom: 20px;
}

.bannerArea .leftside .form input {
  width: 300px;
  padding: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  height: 40px;
  outline: none;
  color: #fff;
  font-size: 14px;
}
.bannerArea .leftside .form button {
  height: 40px;
  border: 0;
  background-color: #0071b7;
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  padding: 0 20px;
  cursor: pointer;
}
.bannerArea .leftside .form button:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.bannerArea .leftside .iconsTechs {
  margin-bottom: 80px;
}
.bannerArea .leftside .iconsTechs img {
  margin-right: 10px;
}
.bannerArea .rightside {
  flex: 1;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: bottom;
}

/* Section info */
.info {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #eaeef1;
}
.info-text {
  font-size: 20px;
  font-weight: bold;
  color: #c2c8cb;
  margin: 0 10px;
}
.info-circle {
  width: 6px;
  height: 6px;
  background-color: #c2c8cb;
  border-radius: 50%;
  margin: 0 10px;
}
/* Section info */
.inst-container {
  margin: auto;
  max-width: 900px;
  padding: 70px 0;
}
.inst-item {
  border-left: 3px solid #ecf0f3;
  display: flex;
}
.inst-item:last-child {
  border: 0;
}
.inst-circle {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: #0071b7;
  margin-left: -9px;
}
.inst-text {
  flex: 1;
  margin-left: 50px;
}
.inst-text h2 {
  font-size: 20px;
  color: #000000;
  margin: -10px 0 20px 0;
}
.inst-text p {
  font-size: 16px;
  line-height: 23px;
  color: #777;
  margin-bottom: 70px;
}
.inst-item:last-child p {
  margin: 0;
}

/* Section CTA */
.cta {
  background-color: #1D2437;
  border-bottom: 2px solid #333;
}
.cta-container {
  display: flex;
  margin: auto;
  max-width: 800px;
  padding: 100px 0;
  color: #FFF;
}
.cta-left {
  flex: 1;
  margin-left: 30px;
}
.cta-right {
  flex: 1;
  margin-right: 30px;
}
.cta-left h2 {
  font-size: 40px;
  margin: 0;
}
.cta-left p {
  font-size: 18px;
  line-height: 25px;
  color: #777;
}
.cta-right input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  outline: none;
  color: #fff;
}
.cta-right button {
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #0071b7;
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
  cursor: pointer;
}
.cta-right button:hover {
  opacity: 0.7;
  transition: 0.2s;
}

/* Footer */
footer {
  background-color: #1D2437;
  color: #FFF;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 40px 0;
  max-width: 1070px;
}
.footer-right {
  font-size: 16px;
  color: #777;
  text-align: right;
  line-height: 25px;
}
.footer-right a {
  color: #777;
  text-decoration: none;
}
.footer-right a:hover { 
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1030px) {
  .main .container {
    padding: 0 20px;
  }
  footer .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 900px) {
  .bannerArea {
    flex-direction: column-reverse;
  }
  .bannerArea .rightside {
    height: 300px;
    flex: none;
    background-size: auto 100%;
    background-position-x: center;
  }
  .bannerArea .rightside .rightside-linear {
    width: 100%;
    height: 100%;
    /*background: linear-gradient(360deg, #1D2437 8.92%, rgba(29, 36, 55, 0) 65.85%);*/
  }
  .bannerArea .leftside h1 {
    margin-top: 0;
    text-align: center;
  }
  .bannerArea .leftside subtitle {
    text-align: center;
  }
  .bannerArea .leftside .form input {
    width: 100%;
    margin-bottom: 20px;
  }
  .bannerArea .leftside .form button {
    width: 100%;
    margin: 0;
  }
  .bannerArea .leftside .iconsTechs {
    text-align: center;
  }
  .info {
    display: none;
  }
  .instructions .inst-item {
    margin: 0 50px;
  }
  .cta .cta-container {
    flex-direction: column;
    margin: 0 30px;
  }
  .cta .cta-left,
  .cta .cta-right {
    margin: 0;
  }
  .cta .cta-left {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-left {
    margin-bottom: 30px;
  }
  footer .footer-right {
    text-align: center;
  }
}